.hero {
    background-image: url('../../public/images/image-hero-mobile.jpg');
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 46.25em) {
    .hero {
        background-image: linear-gradient(rgb(0, 0, 0, .3), transparent),   url('../../public/images/image-hero-desktop.jpg');
        background-size: contain;
    }
}

@media (min-width:100em  ) {
    .hero {
       background-size: cover;
    }
}